[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=EncryptWithPassword;
Terminal=true

[Desktop Action EncryptWithPassword]
Name=Encrypt with Password
Exec=~/Scripts/Utils/encrypt.sh %F
Icon=dialog-password
